@model StudentCreateModel
@{
    ViewBag.Title = "Create new student";
}
<h4>Create new student</h4>
<form asp-controller="Home" asp-action="Create" method="post">
    <div class="row form-group">
        <div class="col-2">
            <label asp-for="Fullname"></label>
        </div>
        <div class="col-10">
            <input asp-for="Fullname" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-2">
            <label asp-for="DoB"></label>
        </div>
        <div class="col-10">
            <input asp-for="DoB" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="reset" class="btn btn-warning">Cancel</button>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>

