@{ 
    ViewBag.Title = "Course View";
}

<div class="row">
    <div class="table-responsive table--no-card m-b-40">
        <table id="tbEmployee" class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    <th>CourseId</th>
                    <th>CourseName</th>
                    <th>Start Day</th>
                    <th>End Day</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>