@model SaveCourseReq
@{
    ViewData["Title"] = "Create course";
    //var status = ViewBag.Status != null ? ViewBag.Status as List<Status> : new List<Status>();
}
<div>
    @if (TempData["success"] != null)
    {
        <p class="alert alert-success">
            @TempData["success"]
        </p>
    }
    else if (TempData["error"] != null)
    {  <p class="alert alert-danger">
            @TempData["error"]
        </p>
    }
</div>
    <form asp-controller="Course" asp-action="Create" method="post">
        <div class="row">
            <div class="col-2 col-form-label">
                <label asp-for="CourseName"></label>
            </div>
            <div class="col-10">
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-form-label">
                <label asp-for="Status"></label>
            </div>
            <div class="col-10">
                <select asp-for="Status" class="form-control">
                    @foreach (var item in Model.Statuses)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-form-label">
                <label asp-for="StartDate"></label>
            </div>
            <div class="col-10">
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-form-label">
                <label asp-for="EndDate"></label>
            </div>
            <div class="col-10">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-success mr-3" type="submit">Create</button>
            <button class="btn btn-warning" asp-controller="Course" asp-action="Index">Cancel</button>
        </div>
    </form>
