@model SaveCourseReq
@{
    ViewData["Title"] = "Edit";
    var status = ViewBag.Status != null ? ViewBag.Status as List<Status> : new List<Status>();
}

<h1>Edit</h1>
<form asp-controller="Course" asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input hidden asp-for="CourseId" value="@Model.CourseId" />    
    <div class="row">
        <div class="col-2 col-form-label">
            <label asp-for="Status"></label>
        </div>
        <div class="col-10">
            <select asp-for="Status" class="form-control">
                @foreach (var item in status)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-form-label">
            <label asp-for="StartDate"></label>
        </div>
        <div class="col-10">
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-form-label">
            <label asp-for="EndDate"></label>
        </div>
        <div class="col-10">
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-warning mr-3" type="submit">Update</button>
        <a asp-controller="Course" asp-action="Index" class="btn btn-danger">Back</a>
    </div>
</form>

