@model CourseView

@{
    ViewBag.Title = "Thay đổi thông tin khóa học";
    var status = ViewBag.Status != null ? ViewBag.Status as List<Status> : new List<Status>();
}


<div class=" col-8 container">
    <form asp-controller="Course" asp-action="Edit" method="post" class=" bg-light rounded container">

        <input hidden asp-for="CourseId" />
        <h3 class=" text-danger text-center">Update Course</h3><br />
        @*<br /> <h6 class=" text-info" id="check" style="display: none">@ViewData["Message"]</h6><br />*@
        <br /> <h6 class=" text-danger" >@ViewData["Message"]</h6><br />
        <div class="form-group">
            <label asp-for="CourseName"></label>
            <input asp-for="CourseName" class="form-control" />
            <span asp-validation-for="CourseName" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Status"></label>
            <select asp-for="Status" class="form-control">
                @foreach (var item in status)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" type="date" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" type="date" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <a asp-controller="Course" asp-action="index" class="btn btn-outline-secondary">Back</a>
        <button class="btn btn-info">Update</button>
    </form>
</div>
