@model EditStaff
@{
    ViewBag.Title = "Modify staff";
}

<div>
    <h1>CẬP NHẬT THÔNG TIN NHÂN VIÊN</h1>
    <form asp-controller="Home" asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <fieldset>
            <legend>Thông tin cá nhân</legend>
            <div class="row form-group">
                <label asp-for="Fullname" class="col-2"></label>
                <div class="col-10">
                    <input asp-for="Fullname" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Email" class="col-2"></label>
                <div class="col-10">
                    <input asp-for="Email" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="PhoneNumber" class="col-2"></label>
                <div class="col-10">
                    <input asp-for="PhoneNumber" class="form-control" autocomplete="off" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Thông tin địa chỉ</legend>
            <div class="row form-group">
                <label asp-for="ProvinceId" class="col-2"></label>
                <div class="col-10">
                    <select asp-for="ProvinceId" asp-items="@(new SelectList(Model.Provinces, "id", "_name"))" class="custom-select" onchange="create.changeProvince(this.value)"></select>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="DistrictId" class="col-2"></label>
                <div class="col-10">
                    <select asp-for="DistrictId" asp-items="@(new SelectList(Model.Districts, "id", "DistrictName"))" class="custom-select" onchange="create.changeDistrict(this.value)"></select>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="WardId" class="col-2"></label>
                <div class="col-10">
                    <select asp-for="WardId" asp-items="@(new SelectList(Model.Wards, "id", "WardName"))" class="custom-select"></select>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Address" class="col-2"></label>
                <div class="col-10">
                    <input asp-for="Address" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Hủy</a>
        </div>
    </form>
</div>